.entireForm,.handlingForm{
  background-color:#F5F5F5;
  padding:15px;
  overflow: hidden;
  margin-bottom:20px;
  .searchInput{
    overflow: hidden;
  }
}
.entireTable{
  border-top: 1px dashed #cccccc;
  overflow: hidden;
  padding:20px;
  margin-bottom: 20px;
  .BtnSelect{
    overflow: hidden;
    padding:10px 0;
    margin-bottom:20px;
    .accountBtn{
      float:left;
    }
    .accountSelect{
      float:right;
    }
  }
}
.addAcceptDialog .steps{
  padding-bottom:30px;
  margin-bottom:20px;
  border-bottom: 1px dashed #cccccc;
}
.acceptMsg,.objCodeMsg,.detail,.detailMsg{
  overflow: hidden;
  margin-bottom:30px;
  p{
    padding:0 10px;
    border-left:3px solid #108CEE;
    text-align: left;
    font-weight: bold;
  }
}

.detailMsg{
  margin-bottom:0px;
}
.objCodeDialog .uploadTips p{
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  border-left:none;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.leftDetail{
  width:70%;
}
#objCodeDetail,#logoutDetail,#voiceDetial{
  overflow: hidden;
  background-color: #f3f4f5;

  #base {
    float: left;
    width: 70%;
    padding: $padding;
    background-color: #fff;
    box-sizing: border-box;
  }

  #progress {
    float: left;
    padding: $padding;
    margin-left: $padding;
    width: calc(-15px + 30%);
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;

    .block {
      padding: $padding 0;

      &>div {
        overflow: hidden;
      }

      button.fleft {
        float: left;
        width: 45%;
        height: 30px;
      }

      button.fright {
        float: right;
        width: 45%;
        height: 30px;
      }
    }

    .underline {
      border-bottom: 1px solid #cecece;
    }

    .pass {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #eee;
      margin-bottom: $padding;
    }

    .passback {
      border: unset;
      background-color: rgba(234, 246, 254, 1);
      color: $blue;
    }

    .passgo {
      border: unset;
      background-color: $blue;
      color: #fff;
    }

    .step {
      margin-bottom: $padding;
    }
  }

  li {
    list-style: none;
    .el-table{
      width:90% !important;
    }
  }

  .basedata {
    overflow: hidden;

    li {
      float: left;
      margin: 0px $padding $padding;
    }
  }

  .examplew {
    width: 120px;
  }

  .exampleh {
    height: 120px;
  }
}
#businessDetail {
  overflow: hidden;
  background-color: #f3f4f5;

  #base {
    float: left;
    width: 70%;
    padding: $padding;
    background-color: #fff;
    box-sizing: border-box;
  }

  #progress {
    float: left;
    padding: $padding;
    margin-left: $padding;
    width: calc(-15px + 30%);
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;

    .block {
      padding: $padding 0;

      &>div {
        overflow: hidden;
      }

      button.fleft {
        float: left;
        width: 45%;
        height: 30px;
      }

      button.fright {
        float: right;
        width: 45%;
        height: 30px;
      }
    }

    .underline {
      border-bottom: 1px solid #cecece;
    }

    .pass {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #eee;
      margin-bottom: $padding;
    }

    .passback {
      border: unset;
      background-color: rgba(234, 246, 254, 1);
      color: $blue;
    }

    .passgo {
      border: unset;
      background-color: $blue;
      color: #fff;
    }

    .step {
      margin-bottom: $padding;
    }
  }

  li {
    list-style: none;
  }

  .basedata {
    overflow: hidden;

    li {
      float: left;
      margin: 0px $padding $padding;
    }
  }

  .examplew {
    width: 120px;
  }

  .exampleh {
    height: 120px;
  }
}
.logoutDetailTab{
  margin-top:30px;
}
.serviceData{
  .fmini{
    display: block;
    width:135px;
    text-align: right;
    margin-right:20px;
  }
 div{
   .fmini{
     display: block;
     width:135px;
     text-align: right;
     margin-right:20px;
   }
 }
}
.threeSelect{
  overflow: hidden;
}
.stepBtn{
  text-align: right;
}
//套餐样式
#setMeal{
  .bigHouse{
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 10px 50px 10px;
  }
  .numberDetail{
    padding:10px;
    .unit{
      float:left;
      border:1px dashed #cccccc;
      padding:10px 20px;
      margin:0 10px 10px 0;
    }
  }
  div{
    overflow: hidden;
    .lowestExpense{
      width: 173px;
      float: left;
      margin-right:20px;
      p{
        text-align: center;
        font-weight: bold;
        font-size: 16px;
      }
      .ellipse{
        border:1px solid #2596EF;
        width:150px;
        padding:10px;
        border-radius: 20px;
        text-align: center;
        span{
          font-size:16px;
          color:#2596EF;
        }
      }
    }
  }
  .title{
    font-weight: bold;
    font-size:18px;
  }
  span{
    color:#2596EF;
  }
}
.busMaterForm .model span{
  font-size:12px;
  color:#999999;
}
.cutOffRule{
  color:#cccccc;
  div{
    border:1px dashed #cccccc;
    margin-top:20px;
  }

}
.titleWidth{
  width: 150px;
  display: block;
  text-align: right;
}
.explain{
  color:#999999;
  font-size: 12px;
}
