.entireForm,.handlingForm{
  background-color:#F5F5F5;
  padding:15px;
  overflow: hidden;
  margin-bottom:20px;
  .searchInput{
    overflow: hidden;
  }
}
.entireTable{
  border-top: 1px dashed #cccccc;
  overflow: hidden;
  padding:20px;
  margin-bottom: 20px;
  .BtnSelect{
    overflow: hidden;
    padding:10px 0;
    margin-bottom:20px;
    .accountBtn{
      float:left;
    }
    .accountSelect{
      float:right;
    }
  }
}
.addAcceptDialog .steps{
  padding-bottom:30px;
  margin-bottom:20px;
  border-bottom: 1px dashed #cccccc;
}
.acceptMsg,.objCodeMsg,.detail,.detailMsg{
  overflow: hidden;
  margin-bottom:30px;
  p{
    padding:0 10px;
    border-left:3px solid #108CEE;
    text-align: left;
    font-weight: bold;
  }
}
.detailMsg{
  margin-bottom:0px;
}
.objCodeDialog .uploadTips p{
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  border-left:none;
  padding:0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.leftDetail{
  width:70%;
}
#objCodeDetail,#logoutDetail{
  overflow: hidden;
  background-color: #f3f4f5;

  #base {
    float: left;
    width: 70%;
    padding: $padding;
    background-color: #fff;
    box-sizing: border-box;
  }

  #progress {
    float: left;
    padding: $padding;
    margin-left: $padding;
    width: calc(-15px + 30%);
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;

    .block {
      padding: $padding 0;

      &>div {
        overflow: hidden;
      }

      button.fleft {
        float: left;
        width: 45%;
        height: 30px;
      }

      button.fright {
        float: right;
        width: 45%;
        height: 30px;
      }
    }

    .underline {
      border-bottom: 1px solid #cecece;
    }

    .pass {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #eee;
      margin-bottom: $padding;
    }

    .passback {
      border: unset;
      background-color: rgba(234, 246, 254, 1);
      color: $blue;
    }

    .passgo {
      border: unset;
      background-color: $blue;
      color: #fff;
    }

    .step {
      margin-bottom: $padding;
    }
  }

  li {
    list-style: none;
    .el-table{
      width:90% !important;
    }
  }

  .basedata {
    overflow: hidden;

    li {
      float: left;
      margin: 0px $padding $padding;
    }
  }

  .examplew {
    width: 120px;
  }

  .exampleh {
    height: 120px;
  }
}
#businessDetail {
  overflow: hidden;
  background-color: #f3f4f5;

  #base {
    float: left;
    width: 70%;
    padding: $padding;
    background-color: #fff;
    box-sizing: border-box;
  }

  #progress {
    float: left;
    padding: $padding;
    margin-left: $padding;
    width: calc(-15px + 30%);
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;

    .block {
      padding: $padding 0;

      &>div {
        overflow: hidden;
      }

      button.fleft {
        float: left;
        width: 45%;
        height: 30px;
      }

      button.fright {
        float: right;
        width: 45%;
        height: 30px;
      }
    }

    .underline {
      border-bottom: 1px solid #cecece;
    }

    .pass {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      background-color: #eee;
      margin-bottom: $padding;
    }

    .passback {
      border: unset;
      background-color: rgba(234, 246, 254, 1);
      color: $blue;
    }

    .passgo {
      border: unset;
      background-color: $blue;
      color: #fff;
    }

    .step {
      margin-bottom: $padding;
    }
  }

  li {
    list-style: none;
  }

  .basedata {
    overflow: hidden;

    li {
      float: left;
      margin: 0px $padding $padding;
    }
  }

  .examplew {
    width: 120px;
  }

  .exampleh {
    height: 120px;
  }
}
.logoutDetailTab{
  margin-top:30px;
}
.serviceData{
  .fmini{
    display: block;
    width:135px;
    text-align: right;
    margin-right:20px;
  }
 div{
   .fmini{
     display: block;
     width:135px;
     text-align: right;
     margin-right:20px;
   }
 }
}
