.entireForm{
  background-color:#F5F5F5;
  padding:15px;
  overflow: hidden;
  margin-bottom:20px;
  .searchInput{
    overflow: hidden;
  }
}
.entireTable{
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
  padding:20px;
  margin-bottom: 20px;
  .BtnSelect{
    overflow: hidden;
    padding:10px 0;
    margin-bottom:20px;
    .accountBtn{
      float:left;
    }
    .accountSelect{
      float:right;
    }
  }
}
