.title {
  margin: $padding;
  @include title-atten;
}

.block {
  padding: $padding;

  &>div {
    overflow: hidden;
  }
}

.step {
  ul {
    @include ul-col;

    li {
      margin-bottom: $padding;
      box-sizing: border-box;
      padding-right: $padding;
    }

    p {
      display: inline-block;
      margin: 0 0 $padding;
      vertical-align: top;
    }
  }
}


footer {
  padding: $padding;
  border-top: 1px solid #eee;
}

.example {
  .examplew {
    width: 120px;
  }

  .exampleh {
    height: 120px;
  }
}