$blue:#409EFF;
$grey:#999;
$padding:15px;
.title{
    position: relative;
    margin: $padding;
    padding: 0px $padding;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $blue;
    }
}
.block{
    padding: $padding;
    &>div{
        overflow: hidden;
    }
}
ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        float: left;
        margin-bottom: $padding;
    }
    li.l2{
        width: 50%;
    }
    li.l3{
        width: 33%;
    }
    p{
        display: inline-block;
        margin: 0 0 $padding;
    }
}
footer{
    padding: $padding;
    border-top: 1px solid #eee;
}
.examplew{
    width: 80px;
}
.exampleh{
    height: 80px;
}