$blue:#409EFF;
$grey:#999;
$padding:15px;
$lightblue:#ecf5ff;
$red:#F56C6C;
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.grey{
    color: $grey;
}
.blue{
    color: $blue;
}
.red{
    color: $red;
}
.fmini{
    font-size: 12px;
}
.search{
    background-color: #f5f5f5;
}
.demonstration{
    color: #333;
    font-size: 12px;
}
@mixin title-atten {
    position: relative;
    padding: 0px $padding;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $blue;
    }
}
@mixin ul-col {
    overflow: hidden;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
        float: left;
    }
    li.l2{
        width: 50%;
    }
    li.l3{
        width: 33%;
    }
}