/*菜单栏样式*/
#app .el-menu{
  background-color: #172138;
}
#app .el-menu .el-menu-item,#app .el-menu .el-submenu__title{
  color: #ffffff;
}
/*右侧内容区域*/
#app .el-container{
  background-color: #eeeeee;
}
#app .el-main{
  margin:20px;
  background-color: #ffffff;
}
/*账号管理*/
.numForm .el-form .el-form-item{
  width:30%;
  float:left;
}
.numForm .el-form .el-form-item:last-child{
  width:52%;
  padding:20px 0;
  margin-bottom: 0;
}
.numForm .el-form .searchBtn{
  width:20% !important;
  padding: 0 !important;
}
.numForm .el-form .searchBtn .el-form-item__content{
  float:left;
  margin-left:20px !important;
}
.el-pagination{
  float:right;
}

/*全局弹窗头部背景*/
.el-dialog__header{
  overflow: hidden;
  background-color: #F6F7FB;
  padding: 10px 20px !important;
}
.el-dialog__header .el-dialog__title{
  float: left;
  font-size:14px;
}
 .addUserDialog .el-dialog__body{
   padding:10px 20px !important;
 }
.addUserDialog .el-form{
  overflow: hidden;
}
.accountMessage .el-form-item{
  width:40%;
  float:left;
}
.accountMessage .homeLocation{
  width:100%;
}
.accountMessage .addUserRemark{
  width:80%;
}
.accountMessage .homeLocation .el-form-item__content{
  margin-left:0px;
}
.accountMessage .homeLocation .el-select {
  width:24%;
  margin-right:15px;
  float:left;
}
/*系统日志*/
.logForm .searchBtn .el-form-item__content{
  margin-left:20px !important;
  text-align: left;
}
.logForm .el-range-editor--mini.el-input__inner{
  width:100%;
}
.LogSelect .el-form-item{
  width:50%;
  float:left;
}
/*400业务管理*/
.entireForm .searchBtn .el-form-item__content,.handlingForm .searchBtn .el-form-item__content{
  margin-left:20px !important;
  text-align: left;
}
.entireForm .el-range-editor--mini.el-input__inner,.handlingForm .el-range-editor--mini.el-input__inner{
  width:100%;
}
.entireForm .el-form-item,.handlingForm .el-form-item{
  width:40%;
  float:left;
}
.handlingForm .searchBtn{
  width:20%;
  float:left;
}
.acceptMsg .firmName{
  width:80%;
}
.acceptMsg .identity{
  width:80%;
}
.acceptMsg .identity .el-select{
  width:20%;
  float:left;
  margin-right:1%;
}
.acceptMsg .identity .el-input{
  width:79%;
  float:left;
}
.acceptMsg .identity .el-select .el-input{
  width:100%;
}
