/*菜单栏样式*/
#app .el-menu {
	background-color: #172138;
}

#app .el-menu .el-menu-item,
#app .el-menu .el-submenu__title {
	color: #ffffff;
}

/*右侧内容区域*/
#app .el-container {
	background-color: #eeeeee;
}

#app .el-aside::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}

/*定义滚动条高宽及背景*/
#app .el-aside::-webkit-scrollbar {
	width: 3px;
	background-color: hsla(225, 4%, 58%, 0.5);
}

#app .el-aside::-webkit-scrollbar {
	height: 3px;
	background-color: hsla(225, 4%, 58%, 0.5);
}

/*定义滚动条*/
#app .el-aside::-webkit-scrollbar-thumb {
	background-color: hsla(225, 4%, 58%, 0.5);
	border-radius: 1px;
}

#app .el-main::-webkit-scrollbar-track {
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.22);
}

/*定义滚动条高宽及背景*/
#app .el-main::-webkit-scrollbar {
	width: 3px;
	background-color: hsla(225, 4%, 58%, 0.5);
}

#app .el-main::-webkit-scrollbar {
	height: 3px;
	background-color: hsla(225, 4%, 58%, 0.5);
}

/*定义滚动条*/
#app .el-main::-webkit-scrollbar-thumb {
	background-color: hsla(225, 4%, 58%, 0.5);
	border-radius: 1px;
}

#businessInform .el-input-group__append,
.el-input-group__prepend {
	padding: 0 10px !important;
}

.lightblueTable .el-table td,
.lightblueTable .el-table th {
	padding: 2px 0;
}

.lightblueTable .el-table__empty-block {
	min-height: 28px;
}

.lightblueTable .lightblue td,
.lightblueTable .lightblue th {
	background-color: #ecf5ff;
}

#company_dialog .el-dialog {
	width: 75%;
}

#step_2 .data .el-upload--picture-card,
#step_2 .data .el-upload-list__item-actions,
#step_2 .data .el-upload-list__item {
	width: 120px;
}

#step_2 .person_data .el-upload--picture-card,
#step_2 .person_data .el-upload-list__item-actions,
#step_2 .person_data .el-upload-list__item {
	height: 120px;
}

/*账号管理*/
.numForm .el-form .el-form-item {
	width: 30%;
	float: left;
}

.numForm .el-form .el-form-item:last-child {
	width: 52%;
	padding: 20px 0;
	margin-bottom: 0;
}

.numForm .el-form .searchBtn {
	width: 20% !important;
	padding: 0 !important;
}

.numForm .el-form .searchBtn .el-form-item__content {
	float: left;
	margin-left: 20px !important;
}

.el-pagination {
	float: right;
}

/*全局弹窗头部背景*/
.el-dialog__header {
	overflow: hidden;
	background-color: #F6F7FB;
	padding: 10px 20px !important;
}

.el-dialog__header .el-dialog__title {
	float: left;
	font-size: 14px;
}

.addUserDialog .el-dialog__body {
	padding: 10px 20px !important;
}

.addUserDialog .el-form {
	overflow: hidden;
}

.accountMessage .el-form-item {
	width: 40%;
	float: left;
}

.accountMessage .homeLocation {
	width: 100%;
}

.accountMessage .addUserRemark {
	width: 80%;
}

.accountMessage .homeLocation .el-form-item__content {
	margin-left: 0px;
}

.accountMessage .homeLocation .el-select {
	width: 24%;
	margin-right: 15px;
	float: left;
}

/*系统日志*/
.logForm .searchBtn .el-form-item__content {
	margin-left: 20px !important;
	text-align: left;
}

.logForm .el-range-editor--mini.el-input__inner {
	width: 100%;
}

.LogSelect .el-form-item {
	width: 50%;
	float: left;
}

/*400业务管理*/
.entireForm .searchBtn .el-form-item__content,
.handlingForm .searchBtn .el-form-item__content {
	margin-left: 20px !important;
	text-align: left;
}

.entireForm .el-range-editor--mini.el-input__inner,
.handlingForm .el-range-editor--mini.el-input__inner {
	width: 100%;
}

.entireForm .el-form-item,
.handlingForm .el-form-item {
	width: 40%;
	float: left;
}

.handlingForm .searchBtn {
	width: 20%;
	float: left;
}

.acceptMsg .firmName,
.objCodeMsg .firmName {
	width: 80%;
}

.acceptMsg .stepTwoFirmName {
	width: 50%;
	float:left;
}

.acceptMsg .identity {
	width: 80%;
}

.acceptMsg .identity .el-select {
	width: 20%;
	float: left;
	margin-right: 1%;
}

.objCodeMsg .identity .el-select {
	width: 30%;
	float: left;
	margin-right: 1%;
}

.acceptMsg .identity .el-input {
	width: 79%;
	float: left;
}

.acceptMsg .identity .el-select .el-input {
	width: 100%;
}

.managerFormTitle .search .el-input {
	width: auto;
}

.objCodeSearch .el-form-item {
	margin-bottom: 0 !important;
}

.objCodeDialog .el-dialog {
	width: 50% !important;
	overflow: hidden;
}

.objCodeDialog .el-table .cell,
.el-table th div,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
	font-size: 14px;
	font-weight: normal;
}

.objCodeDialog .materials {
	margin-bottom: 40px !important;
}

.objCodeDialog .materials .el-form-item__content {
	line-height: 23px;
}
.threeSelect .el-form-item,.legalInfo .el-form-item{
	width:20%;
	float:left;
}
.threeSelect .el-form-item .el-select{
	width:100%;
}
.regUrl .onlyInput ,.businessAddress .onlyInput{
	margin-left:100px;
	width:44%;
	margin-bottom:22px;
}
.handleInfo .el-form-item{
	width:33%;
	margin-right:20px;
	float:left;
}
.handleInfo .identity{
	width:66%;
}
.handleInfo .identity .el-select{
	float: left;
	width: 30%;
}
.handleInfo .identity .handleIdentityNo{
	float: left;
	width: 67%;
	margin-left: 10px;
}
.voiceForm .voiceType .el-select,.voiceForm .el-button{
	float:left;
}
.voiceForm .el-button{
	margin-left:20px;
}
.voiceForm .voiceType .el-form-item__content,.voiceForm .type .el-input{
	line-height: 0 !important;
}
.voiceForm .voiceType .el-input{
	width:50%;
	float:left;
}
.voiceForm .type .el-select{
	float:left;
}
.voiceForm .objCodeMsg .input .el-form-item__content{
	float:left;
	width:50%;
	margin-left:0 !important;
}
.voiceForm .el-textarea__inner{
	width:50%;
	min-height: 90px !important;
	margin-left:90px;
	overflow: auto;
}
/*自定义导航*/
#customNavigation .el-tree-node .el-tree-node__content {
	margin-bottom: 5px;
	padding: 5px;
	background-color: #EAF6FE;
	/*color:#EAF6FE;*/
}

#numSetup .el-checkbox-button__inner {
	border-left: 1px solid #dcdfe6;
}

#numSetAction .el-card {
	background-color: #ecf5ff;
}
.addNumform .el-input{
	width:50%;
}
.addNumform .el-tabs--border-card{
	border:1px solid #2596EF;
}
.busMaterForm .el-form-item .el-form-item__content{
	text-align: left;
}
