header {
	padding: 0px $padding $padding;
	border-bottom: 1px solid #eee;
	text-align: left;
}

#businessInform {
	padding: $padding;

	section.addCompany {
		margin-top: $padding;
		padding: $padding 0;
		overflow: hidden;
		border-top: 1px solid #eee;

		&>div {
			float: right
		}
	}

	.search ul {
		overflow: hidden;
		padding: $padding $padding 0;
		margin: 0;

		li {
			margin-right: $padding;
			list-style: none;
			float: left;
		}
	}
}

.title {
	@include title-atten;
}

.edit {
	float: right;
	margin: 0;

	i {
		color: $blue;
	}
}

.block {
	padding: $padding;
}

