$padding: 15px;
$blue: #409EFF;
.block {
  padding: $padding;
}

.el-form-item {
  margin-bottom: 0;
}

.searchButton {
  float: left;
  width: 80px;
  margin-bottom: 10px;
}

.resetButton {
  float: left;
  width: 80px;
}

.buttonDiv {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.searchButton {
  float: left;
  width: 80px;
  margin-bottom: 10px;
}

.resetButton {
  float: left;
  width: 80px;
}
