$padding: 15px;
$blue: #409EFF;
header {
  padding: 0px $padding $padding;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.searchMessage el-input {
  overflow: hidden;
  padding: 15px;
  margin: 0;
}

.batch-work {
  position: relative;
  float: left;
}

.record {
  float: right;
}

.searchMessage {
  position: absolute;
  top: 0px;
  right: 10px;
  line-height: 39px;
  margin-right: 5px;
}

#messageInform {
  padding: $padding;
}
