$blue: #409EFF;
$grey: #999;
$padding: 15px;
$imgW: 80px;

.card {
	background-color: #fff;
	text-align: left;
	padding: 10px 0px;
}

.left_card {
	margin-bottom: 15px;
}

section {
	overflow: hidden;

	.title {
		position: relative;
		margin: $padding;
		padding: 0px $padding;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 2px;
			height: 100%;
			background-color: $blue;
		}
	}

	.part {
		float: left;
		margin-left: $padding;
		margin-right: 25px;
	}
}

.portrait {
	width: $imgW+40px;
	margin-right: 0px !important;

	img {
		display: block;
		margin: 0 auto;
	}
}

.picture {
	margin-right: 0px !important;

	img {
		display: block;
		margin: 0 auto;
	}
}

.edit {
	float: right;
	margin: 0;

	i {
		color: $blue;
	}
}

.message {
	p {
		font-size: 13px;
		margin: 5px 0px;
	}
}

.button {
	font-size: 12px;
	margin-top: 15px;
}

.mess {
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-top: 20px;

	:first-child {
        font-size: 16px;
		text-align: center;
	}

	:nth-child(2) {
        font-size: 24px;
		margin-top: 15px;
		text-align: center;
		color: #409EFF;
	}
}

.radio {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 5px 15px;
	background: #409EFF;
}

.text {
	float: left;
	width: 80%;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}

.content {
	text-align: left;
}

.noticeItem {
	width: 90%;
	margin: 10px auto;
}

.right_card_title {
	border-bottom: 1px solid #eee;
	text-align: left;
	line-height: 30px;
}

.publishTime {
	margin-top: 10px;
}