$blue:#409EFF;
$grey:#999;
$padding:15px;
$imgW:80px;
#userCenter{
    background-color: #fff;
    text-align: left;
    padding: $padding 0px;
}
header{
    padding:0px $padding $padding;
    border-bottom:1px solid #eee;
}
section{
    overflow: hidden;
    .title{
        position: relative;
        margin: $padding;
        padding: 0px $padding;
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: $blue;
        }
    }
    .part{
        float: left;
        margin-left: $padding;
        margin-right: 25px;
    }
}
.portrait{
    width: $imgW+40px;
    margin-right: 0px!important;
    img{
        width: $imgW;
        height: $imgW;
        display: block;
        border-radius: 100%;
        margin: 0 auto;
    }
}
.edit{
    float: right;
    margin: 0;
    i{
        color: $blue;
    }
}
.message{
    p{
        font-size: 13px;
        margin: 5px 0px;
    }
}
.button{
    font-size: 12px;
}


