$labelW:100px;

footer {
	padding-top: $padding;
	border-top: 1px solid #eee;
}

#favourable,
#charge {
	.form_item {
		@include form-copy
	}
}

#billDetail,
#transfer,
#bollot {
	.title {
		@include title-atten;
	}

	.block {
		margin: $padding;

		ul {
			@include ul-col;

			p {
				margin: 0;
				line-height: 28px;
			}
		}
	}

	.total {
		margin: 30px $padding $padding;
	}
}

#transfer .total {
	margin: 30px $padding $padding;
	overflow: hidden;

	p {
		float: left;
		padding-right: 30px;
		margin: 0;
	}
}