$padding: 15px;
$blue: #409EFF;

#IndustryCategory {
  padding: $padding;
}

header {
  padding: 0px $padding $padding;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.item {
  background: #eee;
  width: 100%;
  height: 50px;
  margin-top: 15px;
}

.item:hover .deleteBtn {
  display: block;
}

.deleteBtn {
  float: left;
  margin-left: 100px;
  line-height: 50px;
  display: none;
}

.checkbox {
  line-height: 50px;
  float: left;
  margin-left: 15px;
}

.itemTitle {
  line-height: 50px;
  float: left;
  margin-left: 100px;
}
