$padding: 15px;
$blue: #409EFF;

#lineCostSetting {
  padding: $padding;
}

header {
  padding: 0px $padding $padding;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.line {
  border-top: 1px solid #ccc;
  margin-top: 15px;
}

.search {
  margin-top: 15px;
  padding: 20px;
  text-align: left;
}

.table {
  border-top: 1px solid #eee;
  margin-top: 15px;
}

