.numForm{
  background-color:#F5F5F5;
  padding:15px;
  overflow: hidden;
  margin-bottom:20px;
  .searchInput{
    overflow: hidden;
    border-bottom: 1px dashed #cccccc;
  }
}
.accountTable{
  border-top:1px solid #cccccc;
  padding:20px;
  overflow: hidden;
  .BtnSelect{
    overflow: hidden;
    padding:10px 0;
    margin-bottom:20px;
    .accountBtn{
      float:left;
    }
    .accountSelect{
      float:right;
    }
  }
}
.accountMessage{
  overflow: hidden;
  margin-bottom:30px;
  p{
    padding:0 10px;
    border-left:3px solid #108CEE;
    text-align: left;
    font-weight: bold;
  }
}
